:root {
	/* --bg-color: #023047; */
	/* --bg-color: #8ECAE6; */
	--bg-color: #3A0CA3;
	/* --bg-color: #4361EE; */
	/* --title-color: #FB8500; */
	--title-color: #4CC9F0;
	--title-color-2: #4CC9F0;
	/* --text-color: #FFB703; */
	--text-color: #f1f2f6;
	--container-bg-color: #219EBC;
}

* {
	box-sizing: border-box;
	margin: 0
}

@font-face {
	font-family: Aladin;
	src: url(./fonts/Aladin-Regular.ttf);
}

@font-face {
	font-family: Spectral;
	src: url(./fonts/Spectral-Regular.ttf);
}

@font-face {
	font-family: Acme-Regular;
	src: url(./fonts/Acme-Regular.ttf);
}